[submodule "pnetC"]
path=pnetC
url = git://git.savannah.gnu.org/dotgnu-pnet/pnetC.git
[submodule "pnetlib"]
path=pnetlib
url = git://git.savannah.gnu.org/dotgnu-pnet/pnetlib.git
[submodule "cscctest"]
path=cscctest
url = git://git.savannah.gnu.org/dotgnu-pnet/cscctest.git
[submodule "treecc"]
path=treecc
url = git://git.savannah.gnu.org/dotgnu-pnet/treecc.git
[submodule "libjit"]
path=libjit
url = git://git.savannah.gnu.org/dotgnu-pnet/libjit.git
[submodule "pnet"]
path=pnet
url = git://git.savannah.gnu.org/dotgnu-pnet/pnet.git
[submodule "libCrayons"]
path=libCrayons
url = git://git.savannah.gnu.org/dotgnu-pnet/libCrayons.git
[submodule "ml-pnet"]
path=ml-pnet
url = git://git.savannah.gnu.org/dotgnu-pnet/ml-pnet.git
