Package: pnet-dev
Version: 0.3.6-1
Section: devel
Priority: optional
Architecture: i386
Installed-Size: 1884
Maintainer: Andrew Mitchell <ajmitch@dunedin.lug.net.nz>
Source: pnet
Description: Development headers for pnet
 The goal of this DotGNU project is to build a suite of free software
 tools to build and execute .NET applications, including a C# compiler,
 assembler, disassembler, and runtime engine.  The initial target
 platform is GNU/Linux, with other platforms to follow in the future.
